.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: cadetblue;
    color: azure;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.item {
  height: 300px;
  width: 250px;
  background: #95a7ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.checkout {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;
}

.image {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.qty {
    flex-direction: row;
}

.section {
    clear: both;
    padding-left: 125px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .span_1_of_10, .span_2_of_10, .span_3_of_10, .span_4_of_10, .span_5_of_10, .span_6_of_10, .span_7_of_10, .span_8_of_10, .span_9_of_10, .span_10_of_10 {
        width: 100%;
    }
}

.span_1_of_4:nth-child(4n+1) {
    clear: left;
    margin-left: 0;
}

/*Form css*/

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    max-width: 80%;
    min-width: 700px;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
}

.form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
}

.form-input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
}

.form-button {
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 	0.938em;
    border: none;
    border-radius: 4px;
    background-color: #22223B;
    color: #fefefe;
}
button:hover:enabled {
    background-color: #4A4E69;
    color: #fefefe;
}

.error {
    color:#db2269;
    font-size: 0.5em;
    display: relative;
}

.name,
.cardNo,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.name,
.cardNo,
.password {
    width: 100%;
}

.submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

input.error {
    border: 1px solid #EADAE4;
}

.error {
    color:#db2269;
    font-size: 0.625em;
    display: relative;
}